@font-face {
    font-family: "lato";
    src: url(../font/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}


/* header */
header nav a,
header form {
    display: none;
    color: #fff;
    text-decoration: none;

}
header nav a, #burger{
    padding: 0.5rem;
}
header nav a:hover #burger:hover {
    background-color: (135, 135, 135);
}

header nav a:first-child {
    display: block;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: black;
}

ul {
    list-style-type: none;
}

#slider {
    height: 25vh;
    background-image: url(../img/la.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

header p {
    color: #fff;
    display: flex;
    justify-content: space-around;
    display: none;
}

main h1 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-weight: 100;
    font-size: 1.5rem;
}
.love{
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    text-align: center;
}
.justify{
    text-align: justify;
    display: inline-block;
    width: 100%;
    padding: .5rem;
    box-sizing: border-box;
}
.names{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}
main figure{
    margin-top: 2rem;

}
.names figcaption{
    text-align: center;
    padding-bottom: 1rem;
}
#tourDates{
    padding: 1rem;
    background-color: black;
    
}
#tourDates img{
    width: 100%;
}
.dates{
    background-color: black;
}
.dates h1{
    color: #fff;

}
.dates p{
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    text-align: center;
}
#months{
    color: grey;
    background-color: #fff;
}
#months .sold{
    background-color:crimson;
    color: #fff;
}
#months p{
    padding: 0.2rem;
}
#frame{
    padding: 0.5rem;
}

#tourDates .cities{
    
    font-size: 0.8rem;
}

#tourDates figcaption{
   padding: 0.5rem;
    
}
#tourDates h3{
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 800;
}
.date{
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: grey;
}
#tourDates p{
    margin-bottom: 1rem;
    font-size: 0.8rem;
}
#tourDates button{
    background-color: black;
    color: #fff;
    font-size: 0.7rem;
    padding: .4rem;
    
}
#tourDates figure{
    margin: 1rem 0;
    background-color: #fff;
}
.hr{
    height: 1px;
    background-color: lightgray;
}

