@font-face {
    font-family: "lato";
    src: url(../font/Lato-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "lato", sans-serif;
}


/* header */
header nav a,
header form {
    display: none;
    color: #fff;
    text-decoration: none;


}

header nav a,
#burger {
    padding: 0.5rem;

}

header nav a:hover #burger:hover {
    background-color: (135, 135, 135);
}

header nav a:first-child {
    display: block;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: black;
}

ul {
    list-style-type: none;
}

#slider {
    height: 25vh;
    background-image: url(../img/la.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}

header p {
    color: #fff;
    display: flex;
    justify-content: space-around;
    display: none;
}

/* Section The Band */
main h1 {
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 1.5rem;
    font-weight: 100;
    font-size: 1.5rem;
}

.love {
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    text-align: center;
}

.justify {
    text-align: justify;

    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
}

.names {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
}

main figure {
    margin-top: 2rem;

}

.names figcaption {
    text-align: center;
    padding-bottom: 1rem;
}

#tourDates {
    padding: 1rem;
    background-color: black;

}

#tourDates img {
    width: 100%;
}

.dates {
    background-color: black;
}

.dates h1 {
    color: #fff;

}

.dates p {
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
    padding-bottom: 1rem;
    text-align: center;
}

#months {
    color: grey;
    background-color: #fff;
}

#months .sold {
    background-color: crimson;
    color: #fff;
}

#months p {
    padding: 0.2rem;
}

#frame {
    padding: 0.5rem;
}

#tourDates .cities {

    font-size: 0.8rem;
}

#tourDates figcaption {
    padding: 0.5rem;

}

#tourDates h3 {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    font-weight: 800;
}

.date {
    font-size: 0.8rem;
    margin-bottom: 1rem;
    color: grey;
}

#tourDates p {
    margin-bottom: 1rem;
    font-size: 0.8rem;
}

#tourDates button {
    background-color: black;
    color: #fff;
    font-size: 0.7rem;
    padding: .4rem;

}

#tourDates figure {
    margin: 1rem 0;
    background-color: #fff;
}

.hr {
    height: 1px;
    background-color: lightgray;
}

/*Section Contact */

#contact h3 {
    font-weight: 600;
    margin: 4rem auto 1rem auto;
    text-align: center;
    letter-spacing: .3rem;
}

.note {
    font-style: italic;
    color: grey;
    font-size: 0.8rem;
    padding-bottom: 4rem;
    text-align: center;
}

#address {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-left: .5rem;
}

.icones {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 5rem;
    padding: .3rem;

}

.paper input {
    height: 1.5rem;
    width: 95%;
    margin: .5rem;


}

#sends {
    display: flex;
    justify-content: end;
    margin-bottom: 4rem;
}

#send {
    background-color: black;
    color: #fff;
    text-align: center;
    width: 3rem;
    height: 2rem;
    font-size: .7rem;
    display: flex;
    justify-content: center;
    align-items: center;


}

#map {
    height: 15rem;
    width: 100%;
}

/* Section Footer */

#social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem auto 1rem auto;

}

#social i {
    padding: .1rem;
    color: grey;
}

footer p {
    color: grey;
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
    font-size: .7rem;
}

@media screen and (min-width:576px) {

    header nav a,
    header form {
        display: block;


    }

    header ul {
        display: flex;
    }

    #burger {
        display: none;
    }

    header form {
        padding: 0.5rem;
    }

    header input {
        background-color: black;
        border: none;
        padding: 0.3rem;

    }

    header button {
        background-color: black;
        color: white;
        border: none;

    }

    #slider {
        height: 90vh;
        background-image: url(../img/la.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

    }

    #slider p {
        display: block;


    }

    #slider p:first-child {
        font-size: 1.2rem;
        font-weight: 100;
        padding-bottom: 1rem;
    }

    #slider p:last-child {
        font-size: 0.8rem;
        font-weight: 600;
        padding-bottom: 2rem;
    }

    /* Section the Band */
    #theBand h1 {
        letter-spacing: .5rem;
        margin-top: 1rem;
    }

    #theBand .justify {
        padding: 0 5rem;
    }

    .names {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 10rem;
    }

    .names img {
        height: 25vh;
    }

    /* Section Tour Dates */
    #tourDates {
        padding: 1rem;
        background-color: black;
        padding: 0 5rem;
    }

    .cities {

        display: flex;
        justify-content: space-between;
    }

    .cities figure {
        width: 32%;
    }

    /* Section Contact */


    #contact h3 {
        font-weight: 300;
        font-size: 2rem;
        margin: 4rem auto 1rem auto;
        text-align: center;
        letter-spacing: .3rem;
    }

    .note {
        font-style: italic;
        color: grey;
        font-size: 1.0rem;
        padding-bottom: 4rem;
        text-align: center;
    }

    #aller {
        display: flex;
        justify-content: space-around;

    }

    #paper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    #paper input{
        width: 100%;
    }

    #paper div:nth-child(1) {
        width: 48%;
    }

    #paper div:nth-child(2) {
        width: 48%;
    }

    #paper div:nth-child(3) {
        width: 100%;
    }
    #paper div:nth-child(4){
        margin-left: auto;
    }
    #address {
        margin: 0 5rem;
        display: flex;
        align-items: center;
        justify-content: left;
        font-weight: 500;
    }



    #contact img {

        height: 100vh;
        width: 100%;
    }

    footer #social,
    footer p {
        color: grey;
        display: flex;
        justify-content: center;
        margin-bottom: 4rem;
        font-size: 1.5rem;
    }
}